h1{
 color: #000000;
 font-weight: bold;
 font-size: 40px;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 0; 
 text-align: center;
}

body {
 background-color: #252327;
}     

h2 {
 font-weight: bold;
 font-size: 30px;
 font-family: 'Montserrat', sans-serif;
 margin: 5px 0; 
}    

a {
 text-decoration: none; 
 color: inherit; 
 display: inline-block; 
 margin: 0 5px; 
}  

a:visited {
 color: inherit; 
}

a:hover {
 color: #48474a; 
}
        
.custom-hr { 
 border: none; /* Remove default border */ 
 height: 5px; /* Set height */ 
 background-color: #000000; /* Set color */ 
 width: 50%; /* Set width */ 
 margin: 20px auto; /* Center and add margin */
}
